<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpPlatform
      processPath="C:\Program Files\nodejs\node.exe"
      arguments=".\dist\server.js"
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\imap-plugin"
      startupTimeLimit="30"
      requestTimeout="00:05:00">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="development" />
        <environmentVariable name="IMAP_PLUGIN_TRANSPORT" value="http" />
        <environmentVariable name="IMAP_PLUGIN_ACCOUNT_STORE" value="sql" />
        <environmentVariable name="IMAP_PLUGIN_CREDENTIAL_PROVIDER" value="dev-sql-vault" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
