<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add
        name="httpPlatformHandler"
        path="*"
        verb="*"
        modules="httpPlatformHandler"
        resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="node"
      arguments=".\dist\server.js"
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\imap-plugin"
      startupTimeLimit="30"
      requestTimeout="00:05:00">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="IMAP_PLUGIN_TRANSPORT" value="http" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
